


body{
    direction:rtl;
    text-align:right;
    margin:0;
    padding:0;
    font-family: 'Vazir',tahoma;
    font-size:13px;
    }
    
    li{list-style:none;}
    
    a,a:hover,a:focus{text-decoration:none;}
    
    ul{margin:0; padding:0;}
    
    .fa{margin:5px;}
    

/* ............................ */
.Nav{
    padding:15px;
    background-color:#fff;	
    }
    
    .Nav .login{
    text-align:center;
    }
    
    .Nav .mybtn{
    padding:5px;
    color:#777;
    background-color:transparent;
    font-size: 13px;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    }
    
    .Nav .mybtn i{
    font-size:13px;
    }
    
    .Nav .mybtn:hover{
    color:#ec060a;
    transition:all 0.4s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    }
    
    .Nav form .form1{
    display:table;
    margin:0 auto;	
    }
    
    .Nav form {
    position:relative;
    }
    
    .Nav form input{
        width: 80%;
        background-color: #fdfdfd;
        color: 000;
        border: none;
        padding-right: 10px;
        height: 40px;
    }
    
    .Nav form input:focus{
    border:none;
    outline:none;
    }
    
    .Nav form button{
        border: none;
        height: 40px;
        position: absolute;
        background-color: #fdfdfd;
        color: #ccc8c8;
        top: 0;
        font-size: 20px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    
    /*-----------------------------*/
    .main-menu{
        width: 100%;
        background-color: #fdfbfb;
        box-shadow: 0 0 2px #e6dddd;
    }
    .main-menu ul{
    position:relative;
    }
        
    .main-menu ul li{
    display:inline-block;
    float:right;
    }
    
    .main-menu ul li:hover ul{
    opacity:1;
    visibility:visible;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.3s;
    }
    
    .main-menu ul li a{ 
    display:block;
    padding: 15px 10px;
    color:#616161;
    font-size:12px;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    }
    .main-menu ul li a:hover{ 
    background-color:rgba(17, 0, 93, 0.7);
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    color: #ffffff;
    }
    
    .main-menu ul li ul{
    position:absolute;
    width:200px;
    color:#616161;
    background-color: #fffbfb;
    z-index:100;
    top:45px;
    opacity:0;
    visibility:hidden;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.3s;
    }
    .main-menu ul li ul li{
    display:inline-block;
    float:right;
    width:100%;
    }
        
    .main-menu ul li ul:before{
    content:"";
    position:absolute;
    height:12px;
    width:12px;
    top:-12px;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid#fffbfb;
    }	
    /*-----------------------------*/
    